{%  extends "HillCMSRnaMakerBundle:Default:modal-template.html.twig" %}
{% set modal_id = "start" %}
{% set modal_title = "amiRNA Designer Wizard" %}
{% block body %}
<div class="container">
	<div class="jumbotron" style="float:none">
		{% for main in groups %}
		{# The foreach is not necessary, however accessing the groups in an iterative manner is how it should be done in all-non singular cases, and it is 
			good practice to do it with singular groups as well. #}
			<h1>{{ main["Header"] }}</h1>
			<p>
			{{ main["Content"] }}</p>
		{% endfor %}
				
			<a data-toggle="modal" href="#start" class="btn btn-default btn-block btn-tile btn-quartenary">
				Get Started.
			</a>
            <div class="col-lg-12 image">
            <img style="width:100%; padding-left: 0px; padding-right:0px"class="img-responsive img-rounded" src="{{ groups[3]["Image"] }}"/>
	</div>	
{# button html #}
    <div class= "wizard wizard-buttons">
        <div class="btn btn-default btn-secondary col-lg-6" id="yes-orig">Yes</div>
        <div class="btn btn-default btn-tertiary col-lg-6" id="no-orig">No</div>
        <div class="btn btn-default btn-secondary col-lg-12" id="next-orig">Next</div>
        <div class="btn btn-default btn-tertiary col-lg-12" id="back-orig">Back</div>
    </div>
</div>
{{ parent() }}
{% endblock %}
	{% block modal %}
      
	<div id="wizard-pane" >
        <h5 id="wizard-species"></h5>
        <div id="wizard-text" class="jumbotron jumbotron-modal">
            <div id="wizard-note"></div>
        </div>
        </div>
    <!-- hidden form elements to be used by the wizard -->
    <div class="hidden">
        <div class="form-group" id = "wizard-transcript">
            <label for="sequence">Target sequence:</label>
            <textarea class="form-control sequence" id="sequence" name="sequence" rows="1" placeholder="ATGATGATGATGATGATGATG" ></textarea>
        </div>

        <div class="form-group" id = "transcript-lookup">
            <label for="gene">Gene ID:</label>
            <input type="text" class="form-control gene" id="gene" placeholder="AT1G01040.1" name="gene">
        </div>
    </div>
    <div class="form-group wizard" id ="species">
        <label for="database">Species Database:</label>
        <!-- change to non-integer values -->
          <select class="form-control" name="database" id="database">
            {% for db in dbs %}
                <option value="{{ db.dbId }}">{{ db.dbLabel }}</option>
            {% endfor %}	      
          </select>
   </div>
    <div class="hidden">
        <a class="glyphicon glyphicon-plus add"></a>
    </div>
    <!-- initial state -->
    <div class="wizard wizard-part" id="wizard-no">
        Do you have a transcript id?
    </div>

    <div class="wizard wizard-part" id="wizard-submissionform">
        <form role="form" class="designer">
         <!--
            <label for="fb">Vector:</label>
            <select class="form-control" name="fb" id="fb">
                <option value="eudicot">eudicot</option>
                <option value="monocot">monocot</option>
            </select>
          </div>
         -->
          <label class="label-species">Species:</label>
                <div class ="label-species" id ="label-species"></div>
          <label class="label-gene">Transcript ID(s):</label>
                <div class = "label-gene" id="label-gene"></div>
          <label class="label-sequence">Sequence(s):</label>
                <div class = "label-sequence" id="label-sequence"></div>
          <input type="hidden" value="" name="seq" id="sub-sequence"/>
          <input type="hidden" value="" name="gene" id="sub-gene"/>
          <input type="hidden" value="" name="database" id="sub-database"/>
          <input type="hidden" value="eudicot" name="fb" id="fb"/>
          <input type="hidden" value="3" name="results" id="results"/>
          <input type="hidden" class="form-control" id="off-targets" name="off-targets" value="1"/>
          <div class="result hidden" style="text-align: center;"></div>
          <a href= "#" id="designerresult" type="submit" class="btn btn-default btn-block btn-large btn-secondary">Submit</a>
          <div class="btn btn-defaulddt btn-tertiary btn-block" id="startover">Back</div>
        </form>
    </div>
    <!-- OligoDesigner Form -->
    <div class="wizard wizard-part" id="oligodesigner-submission">
      <form role="form" class="oligodesigner" name= "oligodesigner">
        <div class="form-group">
            <label for="seq">Click to edit amiRNA name</label> <br/>
            <label class="name" style="border-bottom: 1px dashed #000;">amiRNA</label>
            <label for="seq">Enter sequence:</label> <br/>
            <input type="text" class="form-control" class = "orig" id="oligo-seq" placeholder="seq" name="seq">
        </div>
        <input type="hidden" name="fb" value="eudicot"/>
        <!--
      <div class="form-group">
        <label for="fb">Foldback type:</label>
        <select class="form-control" name="fb" id="fb">
            <option value="eudicot">eudicot</option>
            <option value="monocot">monocot</option>
        </select>
      </div>
        -->
      <div class="result hidden" id="oligostatus"  style="text-align: center;"></div>
      <a href= "#" id="oligoresult" type="submit" class="btn btn-default btn-block btn-large btn-secondary">Submit</a>
      <div class="btn btn-default btn-tertiary btn-block startover">Back</div>
    </form>
    </div>
    {% endblock %}
{% block javascript %}
{# passing twig variables #}
<input type="hidden" id="rnamaker_amirnarequest" value='{{ path("rnamaker_amirnarequest") }}'></input>
<input type="hidden" id="gifloader" value='{{ asset("includes/images/ajax-loader.gif") }}'></input>
<input type="hidden" id="tokensplain" value='{{ path("amirnadesigner_results_plain") }}'></input>
<input type="hidden" id="oligourl" value='{{ path("rnamaker_oligorequest") }}'></input>
<input type="hidden" id="oligotoken" value='{{ path("oligo_result_token_plain") }}'></input>
<script src = {{ asset("includes/js/wizards.js") }} type="text/javascript"></script>
<script src = {{ asset("includes/js/amirna.js") }} type="text/javascript"></script>
<script src = {{ asset("includes/js/oligodesigner.js") }} type="text/javascript"></script>
{% endblock %}
