{%  extends "HillCMSRnaMakerBundle:Default:bootstrap-template.html.twig" %}
{% block body %}
<div class="container">
	<div class="jumbotron results"  style="float:none">
		<h1 class="tool-header"> amiRNA Oligo Designer Results </h1>
            <div class="col-lg-2">Name: </div><div class="col-lg-10"> {{ name }} </div>
            <div class="col-lg-2">amiRNA: </div><div class="col-lg-10">5' {{ amiRNA }} 3'</div>
            <div class="col-lg-2">amiRNA*: </div><div class="col-lg-10">5' {{ miRNA }} 3'</div>
            <div class="col-lg-2">Forward Oligo: </div><div class="col-lg-10">5' {{ oligo1 }} 3'</div>
            <div class="col-lg-2">Reverse Oligo: </div><div class="col-lg-10">5' {{ oligo2 }} 3'</div>
	     	<a id = "download" class = "btn btn-default btn-block btn-tertiary" href="{{ asset( dl_token)}}" download style="display:inline-block">Download</a>
	</div>	
	
</div>
{% endblock %}
