{%  extends "HillCMSRnaMakerBundle:Default:bootstrap-template.html.twig" %}

{% block body %}
<script type="text/javascript">
        //fix for drag and drop
        jQuery.event.props.push('dataTransfer');
</script>
<script type="text/javascript"
            src="{{ asset("includes/js/angular/angular.min.js")}}"></script>
<script type="text/javascript"
            src="{{ asset("includes/js/angular/app.js")}}"></script>    
<script type="text/javascript"
            src="{{ asset("includes/js/angular/directives.js")}}"></script>    
<script type="text/javascript"
            src="{{ asset("includes/js/angular/services.js")}}"></script>    
<script src="{{ asset("includes/js/angular/modules/lvlDragDrop/lvl-uuid.js") }} "></script>
<script src="{{ asset("includes/js/angular/modules/lvlDragDrop/lvl-drag-drop.js") }} "></script>
<script src="{{ asset("includes/js/angular/modules/ui-bootstrap.min.js") }} "></script>
<link rel="stylesheet" type="text/css"  href="{{ asset("includes/css/angular.css") }}" ></link>

<div ng-app="SyntasiBuilder">
    <div class="hidden" id="help" >
        {{ helpText["Construct"]["31"]["Help"]|raw }}
    </div>
    <div class="container">
    <div class="jumbotron">
    <div class="error-tracker">
    </div>
        <div ng-controller="SyntasiController as syntasi">
        <div class="hidden" id="token" >{{ path("syntasiresults_data", {"token" : token}) }}</div>
    {% verbatim %}
            <syntasi-tabs></syntasi-tabs>
        </div>
    {% endverbatim %}
    </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
</script>
{% endblock %}
