{%  extends "HillCMSRnaMakerBundle:Default:bootstrap-template.html.twig" %}

{% block body %}
<div class="container">
	<div class="jumbotron" style="float:none">
            <h1>{{ main["Header"] }}</h1>
            <p> {{ main["Content"] }}</p>
		<div class="col-lg-12 btn-nopad">
			<a href="{{ path("rnamaker_amirnadesigner") }}" class="btn btn-default btn-block btn-tile btn-secondary">
				<div class="col-lg-4">
					<img class = "tile-image pull-left image-responsive" src="{{ asset("includes/images/RNAhairpin.png") }}"/> 
				</div>
				<div class="col-lg-8 tile-text pull-right">
				    {{ amirna["Button"] }}
                </div>
				
			</a>
		</div>
        <div class="col-lg-12 btn-nopad">
            <div class="btn-description">
                {{ amirna["Description"] }}
            </div>
        </div>
		<div class="col-lg-12 btn-nopad">
			<a href="{{ path("rnamaker_syntasidesigner") }}" class=" btn btn-default btn-block btn-tile btn-syntasi-tertiary">
				<div class="col-lg-4">
					<img class = "tile-image pull-left image-responsive" src="{{ asset("includes/images/oligo.png") }}"/> 
				</div>
				<div class="col-lg-8 tile-text pull-right">
				    {{ syntasirna["Button"]}}
                </div>
			</a>
		</div>
        <div class="col-lg-12 btn-nopad">
            <div class="btn-description">
                {{ syntasirna["Description"] }}
            </div>
        </div>
	</div>	
</div>


{% endblock %}
