{%  extends "HillCMSRnaMakerBundle:Default:modal-template.html.twig" %}
{% set modal_id = "start" %}
{% set modal_title = groups[2]["PopupTitle"] %}
{% block body %}
<div class="container">
	<div class="jumbotron" style="float:none">
		{% for main in groups %}
		{# The foreach is not necessary, however accessing the groups in an iterative manner is how it should be done in all-non singular cases, and it is 
			good practice to do it with singular groups as well. #}
			<h1 class="tool-header">{{ main["Header"] }}</h1>
			<p>{{ main["Content"] }}
			</p>
		{% endfor %}
        <a data-toggle="modal" href="#start" class="btn btn-default btn-block btn-tile btn-tertiary">
			Get Started.
		</a>
        <div class="col-lg-12 image">
    	    <img style="width:100%; padding-left: 0px; padding-right:0px"class="img-responsive img-rounded" src="/includes/images/AtMIR390a_foldback.png"/>	
        </div>
	</div>
</div>
{{ parent() }}
{% endblock %}
	{% block modal %}
    
	<form role="form" class="targetfinder">
	  <div class="form-group">
	    <label for="seq">amiRNA Sequence:</label> <br/>
	    <label class="name" style="border-bottom: 1px dashed #000;">amiRNA</label> 
		<input type="text" class="form-control" id="seq" placeholder="seq" name="seq">
	  </div>
	  <input type="hidden" name="fb" value="eudicot"/>
        <!--
	  <div class="form-group">
        <label for="fb">Foldback type:</label>
	  	<select class="form-control" name="fb" id="fb">
            <option value="eudicot">eudicot</option>
            <option value="monocot">monocot</option>
        </select>
      </div>
        -->
	  <div class="result hidden" style="text-align: center;"></div>
	  <a href= "#" id="result" type="submit" class="btn btn-default btn-block btn-large btn-tertiary">Submit</a>
	</form>
	{% endblock %}
{% block javascript %}
<script type="text/javascript">
$().ready(function(){
	var ignore = false;
    var firstwarning = true;
    var warning = false;
	$('.targetfinder').submit(function(event){
        //submission validation
		var form = $(this);
        $("#seq").removeClass("alert alert-warning alert-danger input-danger input-warning");
        var result = form.find('.result');
        var error = false;
        result.addClass("hidden");
        result.removeClass('hidden alert alert-danger alert-warning');
        var seq = $(".targetfinder").find("#seq").val();
        if (seq.length != 21){
            $("#seq").addClass("alert alert-danger input-danger");
            result.addClass("alert alert-danger");
            result.removeClass("hidden");
            result.text("Error: Your input sequence is not 21 NT in length");
            error = true;
        }
        else if(seq.match("^[ATCGUatcgu]+$") != seq){
            $("#seq").addClass("alert alert-danger input-danger");
            result.addClass("alert alert-danger");
            result.removeClass("hidden");
            result.text("Error: Your sequence contains characters that are not A,T,C,G, or U");
            error = true;
        }
        else if (seq.substr(0,1).toUpperCase() !== "T" && seq.substr(0,1).toUpperCase() !== "U"){
            $("#seq").addClass("alert alert-warning input-warning");
            result.addClass("alert alert-warning");
            result.removeClass("hidden");    
            result.text("Warning: We recommend a T or U on the 5' end.");
            warning = true;
        }
        else if (seq.substr(18,1).toUpperCase() !== "C"){
            $("#seq").addClass("alert alert-warning input-warning");
            result.addClass("alert alert-warning");
            result.removeClass("hidden");
            result.text("Warning: We recommend a C at amiR position 19, in order to have a 5' G on the miR*");
            warning = true;
        }
        if (firstwarning && warning){
            error = true;
            firstwarning = false;
        }
        if (error === true){
            event.preventDefault();
            return;
        }
        //ajax submission
        var cur = $('.name').last().text();
        $(".name").after("<input type='hidden' name='name'  value='" + cur + "' placeholder='" + cur +"'/>");
		$.ajax({
			type: "POST",
			url: '{{ path("rnamaker_oligorequest") }}', 
			data: $(this).serialize(),	
			//should return a token that will access the results, as stored in memory
			success: function(data){
				form.find('.result').removeClass('hidden alert alert-danger alert-warning');
				form.find('.result').addClass("alert alert-success");
				form.find('.result').text("Success!");
				$( "#result" ).animate({
			          backgroundColor: "#7CB02C", //btn secondary 
			          color: "#fff"
				}, 1000 );
	    		$("#result").attr("href", "{{ path("result_token_plain") }}/" + data );
                $("#result").text("Click to see Results");
				$("#result").unbind("click");			    
			},
			error: function(xhr, status, error) {
				form.find('.result').removeClass('hidden alert alert-success alert-warning');
				form.parent().find('.result').addClass("alert alert-danger");
				if (xhr.responseText != ""){
					form.parent().find('.result').text(xhr.responseText);
				} else{
					if(!ignore){
						form.parent().find('.result').text("Error");
					}
				}
			},
			beforeSend: function(){
                form.find('.result').removeClass('hidden alert alert-danger alert-success');
				form.find('.result').addClass('alert alert-warning');
				form.find('.result').html('<img src="{{ asset("includes/images/ajax-loader.gif") }}"/>' );
			}
		});
		return false;
	});
	//bind to targetfinder form
	$('#result').click(function(){
		$('.targetfinder').submit()
	});
    $(".name").click(toInputTransform);
    $('.modal').click(function(){
        //revert
        if (!$(event.target).hasClass('name')) {
            $(".modified").each(function(){
                var val = $(this).val()
                $(this).replaceWith("<label class='name' style='border-bottom: 1px dashed #000;text-decoration: none;'>" + val + "</label>");
                $(".name").click(toInputTransform);
            });
        }
    });
    function toInputTransform(){
        var cur = $(this).text();
        if (cur == ""){
            var cur = $(this).val();
        }
        $(this).replaceWith("<input type='text' class='form-control name modified' value='" + cur + "' placeholder='" + cur +"'/>") ;
    } 
});
</script>
{% endblock %}
