{%  extends "HillCMSRnaMakerBundle:Default:bootstrap-template.html.twig" %}
{% block body %}
<script type="text/javascript"
            src="{{ asset("includes/js/angular/angular.min.js")}}"></script>
<script type="text/javascript"
            src="{{ asset("includes/js/angular/syntasiOligo.js")}}"></script>
<script type="text/javascript"
            src="{{ asset("includes/js/angular/services.js")}}"></script>
<link rel="stylesheet" type="text/css"
    href="{{ asset("includes/css/syntasitheme.css")}}"></link>
<div class="hidden" id="path">{{ path("syntasiresults_data", {"token" : token}) }}</div>
<div class="container" ng-app="SyntasiOligoResults">
    <div class="jumbotron results" style="float:none">
	   {% verbatim %} 
            <h1 class="tool-header"> syn-tasiRNA Oligo Results </h1>
            <div ng-controller="resultsController">
              <div class="amirna">
                <div class="col-lg-2"><strong>syn-tasiRNA:</strong></div>
                <div class="col-lg-10">5' {{oligos.syntasiRNA}} 3'</div>
                <div ng-repeat="syntasi in oligos.results.syntasiRNA">
                    <div ng-repeat="(label, sequence) in syntasi">
                        <div class ="col-lg-2"><strong>{{ label }}:</strong> </div>
                        <div class="col-lg-10">5' {{ sequence }} 3'</div>
                    </div>
                </div>
                <div class ="col-lg-2"><strong>syn-tasiRNA*:</strong> </div>
                <div class="col-lg-10">5' {{ oligos["syntasiRNA*"]}} 3'</div>
                <div class ="col-lg-2"><strong>Forward Oligo:</strong> </div>
                <div class="col-lg-10">5' {{ oligos.results["Forward Oligo"]}} 3'</div>
                <div class ="col-lg-2"><strong>Reverse Oligo:</strong> </div>
                <div class="col-lg-10">5' {{ oligos.results["Reverse Oligo"]}} 3'</div>
              </div>
                <div class="spacer"></div>
                <a class = "btn btn-default btn-block btn-tertiary" style="display:inline-block" download="results.txt" ng-href = "{{ downloadUrl }}">Download</a>
            </div>
        {% endverbatim %}
	</div>	
</div>
{% endblock %}
