{%  extends "HillCMSRnaMakerBundle:Default:bootstrap-template.html.twig" %}
{% block body %}
<script type="text/javascript">
        //fix for drag and drop
        jQuery.event.props.push('dataTransfer');
</script>
<script type="text/javascript"
            src="{{ asset("includes/js/angular/angular.min.js")}}"></script>
<script type="text/javascript"
            src="{{ asset("includes/js/angular/syntasi.js")}}"></script>
<script type="text/javascript"
            src="{{ asset("includes/js/angular/modules/Wizard/wizard.js")}}"></script>
<script src="{{ asset("includes/js/angular/modules/ui-bootstrap.min.js") }} "></script>
<link rel="stylesheet" type="text/css"  href="{{ asset("includes/css/wizard.css") }}" ></link>
<div class="container">
    <link rel="stylesheet" type="text/css"
    href="{{ asset("includes/css/syntasitheme.css")}}"></link>
	<div class="hidden" id="token" >{{ path("psams_databases_data") }}</div>
    <div class="hidden" id="submit">{{ path("rnamaker_syntasirequest") }}</div>
    <div class="hidden" id="oligosubmit">{{ path("rnamaker_syntasioligodesigner") }}</div>
    <div class="hidden" id="oligoresults">{{ path("syntasi_oligo_results_token_plain")}} </div>
    <div class="hidden" id="results">{{ path("syntasirnadesigner_results_plain")}} </div>
    <div class="jumbotron" style="float:none">
		{% for main in groups %}
			<h1>{{ main["Header"] }}</h1>
			<p>
			{{ main["Content"]|raw }}</p>
		{% endfor %}
        {% verbatim %}
            <div ng-app="SyntasiWizard">
            
            <div ng-controller="SyntasiWizCtrl">				
			    <a href="#start" class="btn btn-default btn-block btn-tile btn-tertiary" ng-click="open()">
				    Get Started.
			    </a>
            </div>
        </div>
        <!-- 
        All of the forms and things are inside web/includes/js/angular/templates/syntasiTemplate.html -->
        {% endverbatim %}
            <div class="col-lg-12 image">
            <img style="width:100%; padding-left: 0px; padding-right:0px"class="img-responsive img-rounded" src="{{ groups[8]["Image"] }}"/>
	</div>	
    <!-- service to fetch this :) -->
    <option value="dbId">dbLabel</option> 
</div>
{% endblock %}
{% block javascript %}
{# passing twig variables #}
<input type="hidden" id="rnamaker_syntasirequest" value='{{ path("rnamaker_syntasirequest") }}'></input>
<input type="hidden" id="gifloader" value='{{ asset("includes/images/ajax-loader.gif") }}'></input>
<input type="hidden" id="tokensplain" value='{{ path("syntasirnadesigner_results_plain") }}'></input>
<input type="hidden" id="oligodesigner" value='{{ path("rnamaker_oligodesigner") }}'></input>
<input type="hidden" id="oligotokensplain" value='{{ path("oligo_result_token_plain") }}'></input>
{% endblock %}
