{%  extends "HillCMSRnaMakerBundle:Default:modal-template.html.twig" %}
{% set modal_id = "start" %}
{% set modal_title = "Target Finder Options" %}
{% block body %}
<div class="container">
	<div class="jumbotron" style="float:none">
		{% for main in groups %}
		{# The foreach is not necessary, however accessing the groups in an iterative manner is how it should be done in all-non singular cases, and it is 
			good practice to do it with singular groups as well. #}
			<h1>{{ main["Header"] }}</h1>
			<p>{{ main["Content"] }}
			</p>
		{% endfor %}
		<a data-toggle="modal" href="#start" class="btn btn-default btn-block btn-tile btn-secondary">
			Get Started.
		</a>
	</div>
</div>
{{ parent() }}
{% endblock %}
	{% block modal %}
	<form role="form" class="targetfinder" name= "targetfinder">
	 
	  <div class="form-group">
	    <label for="name">miRNA name:</label>
		<input type="text" class="form-control" id="name" placeholder="name" name="name">
	  </div>
	  <div class="form-group">
	    <label for="miRNA">miRNA Sequence:</label>
		<input type="text" class="form-control" id="miRNA" placeholder="miRNA" name="miRNA">
	  </div>
	  <div class="form-group">
	    <label for="score">Foldback type:</label>
	  	<select class="form-control" name="score" id="score">
              <option value="0">0</option>
              <option value="0.5">0.5</option>
              <option value="1">1</option>
              <option value="1.5">1.5</option>
              <option value="2">2</option>
              <option value="2.5">2.5</option>
              <option value="3">3</option>
              <option value="3.5">3.5</option>
              <option selected="selected" value="4">4</option>
              <option value="4.5">4.5</option>
              <option value="5">5</option>
              <option value="5.5">5.5</option>
              <option value="6">6</option>
              <option value="6.5">6.5</option>
              <option value="7">7</option>
              <option value="7.5">7.5</option>
              <option value="8">8</option>
              <option value="8.5">8.5</option>
              <option value="9">9</option>
              <option value="9.5">9.5</option>
              <option value="10">10</option>
              <option value="10.5">10.5</option>
              <option value="11">11</option>
        </select>
         <div class="form-group">
	    <label for="score">Database:</label>
	  	<select class="form-control" name="database" id="database">
	  		{% for db in dbs %}
        		<option value="{{ db.dbPath }}">{{ db.dbLabel }}</option>
        	{% endfor %}	
        </select>
      </div>
	  <div class="result hidden" style="text-align: center;"></div>
	  <a href= "#" id="result" type="submit" class="btn btn-default btn-block btn-large btn-tertiary">Submit</a>
	</form>
	{% endblock %}
{% block javascript %}
<script type="text/javascript">
$().ready(function(){
	var ignore = false;
	$('.targetfinder').submit(function(){
		var form = $(this);
		$.ajax({
			type: "POST",
			url: '{{ path("rnamaker_targetfinderrequest") }}', 
			data: $(this).serialize(),	
			//should return a token that will access the results, as stored in memory
			success: function(data){
				form.find('.result').removeClass('hidden alert alert-danger alert-warning');
				form.find('.result').addClass("alert alert-success");
				form.find('.result').text("Success!");
				$( "#result" ).animate({
			          backgroundColor: "#7CB02C", //btn secondary 
			          color: "#fff"
				}, 1000 );
				$("#result").attr("href", "/" + data );
				$("#result").text("Click to see Results");
				$("#result").unbind("click");			    
			},
			error: function(xhr, status, error) {
				form.find('.result').removeClass('hidden alert alert-success alert-warning');
				form.parent().find('.result').addClass("alert alert-danger");
				if (xhr.responseText != ""){
					form.parent().find('.result').text(xhr.responseText);
				} else{
					if(!ignore){
						console.log("wtf")
						form.parent().find('.result').text("Error");
					}
				}
			},
			beforeSend: function(){
				form.find('.result').removeClass('hidden alert alert-danger alert-success');
				form.find('.result').addClass('alert alert-warning');
				form.find('.result').html('<img src="{{ asset("includes/images/ajax-loader.gif") }}"/>' );
			}
		});
		return false;
	});
	//bind to targetfinder form
	$('#result').click(function(){
		$('.targetfinder').submit()
	});
});
</script>
{% endblock %}